<%= turbo_stream.append 'work-item-list' do %>
  <%= render partial: 'app/work_items/work_item', collection: @work_items %>
<%- end %>
<%- unless @work_items.last_page? %>
  <%= turbo_stream.replace 'load_more' do%>
    <%= turbo_frame_tag 'load_more', src: app_project_work_items_withdrawn_path(@project, page: @work_items.next_page, format: :turbo_stream), loading: :lazy %>
  <%- end %>
<%- end %>
