<%= render 'work_item_list_with_navigation' do %>
  <div>
    <div id="work-item-list" class="space-y-2 px-3 mb-8">
      <div class="p-1 font-semibold <%= work_item_status_color('withdrawn') %>">
        <%= t('work_item_statuses.withdrawn') %>
      </div>
      <% if @work_items.any? %>
        <%= render partial: 'app/work_items/work_item', collection: @work_items %>
      <%- else %>
        <%= render 'no_work_items' %>
      <%- end%>
    </div>
  </div>
  <%- unless @work_items.last_page? || @work_items.empty? %>
    <%= turbo_frame_tag 'load_more', src: app_project_work_items_withdrawn_path(@project, page: @work_items.next_page, format: :turbo_stream), loading: :lazy %>
  <%- end %>
<%- end %>
