<div id="<%= dom_id(comment) %>" class="hover:bg-white-rock-400 border-b p-5 <%= comment_iteration.index.even? ? '' : 'bg-gray-50' %>">
  <div class="text-left text-sm">
    <span class="text-primary-700 font-bold"><%= comment.user %></span> @ <%= time_ago_in_words comment.created_at %>
  </div>
  <div class="mt-5 md:flex">
    <div class="text-sm flex-1 p-2">
      <%= comment.message %>
    </div>
    <div class="mt-5 md:mt-0 md:w-20 md:text-right pl-2">
      <%- if comment.user == Current.user %>
        <%= link_to t('glob.delete'), app_work_item_comment_path(@work_item, comment), class: 'text-sm text-red-500', data: { turbo_method: 'delete', turbo_confirm: t('confirm.delete_comment') }  %>
      <%- end%>
    </div>
  </div>
</div>
