<div class="p-3 lg:hidden" data-controller="dropdown-navigator">
  <select class="form-select w-full" data-action="dropdown-navigator#navigate">
    <option value="<%= new_app_project_work_item_path(@project) %>" <%= current_page?(new_app_project_work_item_path(@project)) ? 'selected' : ''%>>New</option>
    <%= options_for_select(navigation_options.collect { |k,v| [I18n.t(k), v]}, request.path) %>
  </select>
</div>
