<div class="text-gray-900 hidden lg:block h-full">
  <div>
    <%= link_to new_app_project_work_item_path(@project) do %>
      <div class="w-52 p-5 text-primary-900 hover:bg-white font-semibold text-sm <%= current_page?(new_app_project_work_item_path(@project)) ? 'bg-two-400' : 'bg-primary-300' %>">
        <%= t('glob.new_model', model: WorkItem.model_name.human) %> +
      </div>
    <%- end%>
  </div>
  <%- navigation_options.each do |k, url|%>
    <div>
      <%= link_to url do %>
        <div class="w-52 p-5 text-primary-900 hover:bg-white font-semibold text-sm <%= current_page?(url) ? 'bg-two-400' : 'bg-primary-400' %>">
          <%= I18n.t(k) %>
        </div>
      <%- end %>
    </div>
  <%- end %>
</div>
