
<div class="px-3">
  <div class="border shadow-md px-5 text-gray-600 p-10">
    <div class="mb-10"><%= t('.no_items') %></div>
    <p>
      <%= link_to 'Create a new work item', new_app_project_work_item_path(@project), class: 'btn-primary' %>
    </p>
  </div>
</div>
