<div class="h-full">
  <main class="h-full">
    <div class="mx-auto max-w-7xl h-full">
      <div class="bg-white h-full">
        <div class="text-center bg-white mx-auto border-x py-3">
          <%= link_to @project.name, app_project_path(@project), class: 'breadcrumb-link' %>
        </div>
        <div class="border min-h-full">
          <div class="p-5 bg-white">
            <div>
              <h1 class="text-primary-900 font-bold text-2xl text-center"><%= WorkItem.plural_name %></h1>
              <h2 class="text-center font-bold text-gray-500"><%= @project.identifier %></h2>
            </div>
          </div>
          <%= render 'dropdown_menu' %>
          <div class="flex h-full bg-white">
            <%= render 'left_side_menu' %>
            <div class="flex-1 bg-white h-full">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div
  </main>
</div>
