<% if resource.errors.any? %>
  <div id="error_explanation" class="text-sm mb-10 p-3 bg-red-200 text-red-900 rounded-sm shadow-sm">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
