<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-primary-900">
      <%= t('.forgot_your_password') %>
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false }}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="space-y-6">
          <div>
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.email_field :email, autofocus: true, autocomplete: :email, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm", required: true %>
            </div>
          </div>
          <div>
            <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-primary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">
              <%= t('.send_me_reset_password_instructions') %>
            </button>
          </div>
        </div>
      <%- end %>
      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="bg-white px-2 text-gray-500">Or</span>
          </div>
        </div>
      </div>
      <div class="space-y-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
