<div class="max-w-screen-lg mx-auto mt-20">
  <div class="text-center text-primary-900">
    <h1 class="font-bold text-4xl py-20 font-['Raleway']">Flow</h1>
  </div>
  <div class="text-center">
    <%= link_to t('glob.go'), new_user_session_path, class: "bg-white border rounded-lg shadow-sm p-10 hover:bg-gray-50" %>
  </div>
</div>
