<%= form_with model: [:app, @profile], url: app_profile_path do |f| %>
  <div class="space-y-5">
    <div>
      <%= f.label :first_name, class: 'form-label' %>
      <div class="mt-1">
        <%= f.text_field :first_name, placeholder:true, class: "text-field #{input_error_class(@profile, :first_name)}" %>
      </div>
      <%= render 'input_error_message', resource: @profile, attribute: :first_name %>
    </div>
    <div>
      <%= f.label :last_name, class: 'form-label' %>
      <div class="mt-1">
        <%= f.text_field :last_name, placeholder:true, class: 'text-field' %>
      </div>
    </div>
    <div>
      <%= f.label :time_zone, class: 'form-label' %>
      <div class="mt-1">
        <%= f.time_zone_select :time_zone, nil, { default: 'Central Time (US & Canada)' }, class: "w-full form-select" %>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="flex justify-end">
      <%- if @profile.persisted? %>
        <%= link_to t('glob.cancel'), app_profile_path, class: 'btn' %>
      <%- end %>
      <%= f.submit class: 'btn-primary ml-3' %>
    </div>
  </div>
<%- end %>
