<div class="mt-10 max-w-xl mx-auto p-3 md:p-0">
  <div class="border bg-white rounded-lg shadow-sm p-5 md:p-10">
    <h1 class="page-title"><%= t('glob.edit_model', model: Profile.model_name.human) %></h1>
    <div class="mt-5" >
      <%= render 'form' %>
    </div>
  </div>
</div>
