<div class="mt-10 max-w-xl mx-auto p-3 md:p-0">
  <div class="border bg-white rounded-lg shadow-sm px-5 pt-5 md:pt-10 md:px-10">
    <h1 class="page-title"><%= t('glob.your_profile') %></h1>
    <div class="mt-5 space-y-5">
      <div>
        <div class="form-label"><%= Profile.human_attribute_name(:first_name) %></div>
        <div class="mt-1"><%= Current.user.profile.first_name %></div>
      </div>
      <div>
        <div class="form-label"><%= Profile.human_attribute_name(:last_name) %></div>
        <div class="mt-1"><%= Current.user.profile.last_name %></div>
      </div>
      <div>
        <div class="form-label"><%= Profile.human_attribute_name(:time_zone) %></div>
        <div class="mt-1"><%= Current.user.profile.time_zone %></div>
      </div>
    </div>
    <div class="py-5">
      <div class="flex justify-end">
        <%= link_to t('glob.edit_model', model: Profile.model_name.human), edit_app_profile_path, class: 'btn-primary' %>
      </div>
    </div>
  </div>
</div>
