<div>
  <%= link_to app_project_features_path(project) do %>
    <div class="border">
      <div>
        <h1 class="bg-white text-primary border-b-2 border-primary text-base font-bold text-center py-2"><%= Feature.plural_name %></h1>
      </div>
      <div class="text-sm px-5 divide-y-2 min-h-[26rem]">
        <%- @features.each do |feature| %>
          <div class="py-5 text-gray-500">
            <%= feature %>
            <div class="text-sm text-right">
              <%= Feature.human_attribute_name(:progress) %>: <%= feature.progress %> %
            </div>
          </div>
        <%-end%>
      </div>
    </div>
  <%- end %>
</div>
