<%= form_with model: [:app, @account, @project] do |f| %>
  <div class="space-y-10" data-controller="project-form">
    <div>
      <%= f.label :name, class: "sr-only" %>
      <%= f.text_field :name, class: "text-field text-field-title #{input_error_class(f.object, :name)}", placeholder: true, data: { action: 'project-form#updateIdentifier' }  %>
      <%= render 'input_error_message', resource: f.object, attribute: :name %>
    </div>
    <div>
      <%- if @project.persisted? %>
        <%= f.label :identifier, class: "form-label" %>
        <%= @project.identifier %>
      <%- else %>
        <%= turbo_frame_tag :identifier do%>
          <%= f.label :identifier, class: "form-label" %>
          <%= f.text_field :identifier, class: "text-field #{input_error_class(f.object, :identifier)}", placeholder: true %>
          <%= render 'input_error_message', resource: f.object, attribute: :identifier %>
        <%- end %>
      <%- end %>
    </div>
    <div>
      <%= f.rich_text_area :description, class: "min-h-48 max-h-48", placeholder: true %>
    </div>
  </div>
  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to t('glob.cancel'), @project.persisted? ? app_project_path(@project) : app_account_path(Current.account), class: 'btn'%>
      <%= f.submit class: 'btn-primary ml-3' %>
    </div>
  </div>
<%- end %>
