<div class="flex-initial w-full lg:w-1/3 sm:w-1/2 px-5 sm:p-5">
  <div class="border shadow-md p-5 rounded-xl h-60 bg-white">
    <h1 class="text-center font-bold text-primary-900">
      <%= link_to project.name, app_project_path(project) %>
    </h1>
    <div class="text-sm p-5 text-gray-500">
      <%= project.description %>
    </div>
  </div>
</div>
