<div>
  <%= link_to app_project_work_items_path(project) do %>
    <div class="border">
      <div>
        <h1 class="bg-white text-primary border-b-2 border-primary text-base font-bold text-center py-2"><%= WorkItem.plural_name %></h1>
      </div>
      <div class="text-sm divide-y-2 min-h-[26rem]">
        <%- if @project.work_items.any? %>
          <%- if @project.work_items.done.exists? %>
            <div class="py-3 px-5 hover:bg-gray-50 font-semibold text-center">
              <%= t('.average_cycle_time', hours: @project.average_cycle_time_hours.to_i, minutes: @project.average_cycle_time_minutes.to_i ) %>
            </div>
          <%- end %>
          <%- work_items.each do |work_item| %>
            <div class="py-3 px-5 hover:bg-gray-50">
              <div class="mb-5 text-gray-500">
                <%= work_item %>
              </div>
              <div class="flex justify-center">
                <div class="text-sm text-gray-500 mr-5 mt-0.5 flex-1">
                  <%= work_item.assigned_to %>
                </div>
                <div class="text-center">
                  <span class="badge <%= work_item_type_color(work_item.work_item_type) %>">
                    <%= WorkItem.human_enum_name(:work_item_types, work_item.work_item_type) %>
                  </span>
                </div>
                <div class="w-48 text-right flex-1">
                  <div>
                    <span class="badge <%= work_item_status_color(work_item.work_item_status.i18n_name) %>">
                      <%= work_item.work_item_status %>
                    </span>
                  </div>
                  <div class="text-xs mt-2 text-gray-500">
                    <%= l work_item.work_item_status_events.last.created_at, format: :long %>
                  </div>
                </div>
              </div>
            </div>
          <%- end%>
        <%- else %>
          <div class="w-full p-5">
            <%= render 'create_new_work_item_button' %>
          </div>
        <%- end %>
      </div>
    </div>
  <%- end %>
</div>
