<div class="md:px-3 lg:px-1 xl:px-0 mx-auto max-w-7xl">
  <div class="border-b md:border-x bg-white p-5 md:p-10">
    <h1 class="page-title"><%= t('glob.new_model', model: Project.model_name.human) %></h1>
    <div class="mt-5" >
      <%= render 'form' %>
    </div>
  </div>
</div>
