<%= turbo_stream.update 'identifier' do %>
  <%= label_tag :project_identifier, Project.human_attribute_name(:identifier), class: "form-label" %>
  <%= text_field_tag 'project[identifier]', @project.identifier, class: "text-field" %>
<%- end %>
