<div class="h-full">
  <main class="h-full">
    <div class="mx-auto max-w-7xl md:px-3 lg:px-1 xl:px-0 h-full">
      <div class="bg-white border min-h-[80%]">
        <div>
          <div class="lg:flex p-5">
            <div class="lg:w-44">
            </div>
            <div class="lg:flex-1">
              <h1 class="text-center font-bold text-2xl text-primary"><%= @project.name %></h1>
              <h2 class="text-center font-bold text-gray-500"><%= @project.identifier %></h2>
            </div>
            <div class="lg:w-44 text-center mt-3 lg:text-right">
              <%= link_to t('glob.edit_model', model: Project.model_name.human), edit_app_project_path(@project), class: 'btn' %>
            </div>
          </div>
          <div class="px-5 overflow-y-auto h-20 lg:h-full text-sm text-center lg:p-5 text-gray-500"><%= @project.description %></div>
        </div>
        <div class="lg:px-10 my-5">
          <div class="space-y-5 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-10">
            <%= render 'work_items', work_items: @work_items, project: @project %>
            <%- if UNLEASH.enabled?('work_item_features') %>
              <%= render 'features', features: @features, project: @project %>
            <%- end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
