<div>
  <%= button_to I18n.t(:grooming, scope: 'work_item_statuses'), app_project_work_item_work_item_status_path(@project, @work_item), class: "btn w-full #{work_item_status_color('grooming')}", method: :patch, params: { transition_to: :grooming } %>
</div>
<div>
  <%= button_to I18n.t(:in_progress, scope: 'work_item_statuses'), app_project_work_item_work_item_status_path(@project, @work_item), class: "btn w-full #{work_item_status_color('in_progress')}", method: :patch, params: { transition_to: :in_progress } %>
</div>
<div>
  <%= button_to I18n.t(:withdrawn, scope: 'work_item_statuses'), app_project_work_item_work_item_status_path(@project, @work_item), class: "btn w-full #{work_item_status_color('withdrawn')}", method: :patch, params: { transition_to: :withdrawn } %>
</div>
<div>
  <%= button_to I18n.t(:fridge, scope: 'work_item_statuses'), app_project_work_item_work_item_status_path(@project, @work_item), class: "btn w-full #{work_item_status_color('fridge')}", method: :patch, params: { transition_to: :fridge } %>
</div>
