<div>
  <%= button_to I18n.t(:in_progress, scope: 'work_item_statuses'), app_project_work_item_work_item_status_path(@project, @work_item), class: "btn w-full #{work_item_status_color('in_progress')}", method: :patch, params: { transition_to: :in_progress } %>
</div>
<div>
  <%= button_to I18n.t(:done, scope: 'work_item_statuses'), app_project_work_item_work_item_status_path(@project, @work_item), class: "btn w-full #{work_item_status_color('done')}", method: :patch, params: { transition_to: :done } %>
</div>
