<div class="space-y-5 py-5">
  <div>
    <%= link_to t('glob.edit'), edit_app_project_work_item_path(@project, @work_item), class: 'btn w-full' %>
  </div>
  <%= render "app/work_items/action_buttons/#{@work_item.work_item_status.i18n_name}" %>
</div>
<div class="py-5">
  <span class=" text-primary-900 font-semibold"><%= WorkItem.human_attribute_name(:created_by_id) %></span>
  <div class="mt-1 text-sm">
    <%= @work_item.created_by %>
  </div>
</div>
<div data-controller="autodropdown" class="py-5">
  <%= form_with model: [:app, @project, @work_item] do |f| %>
    <span class=" text-primary-900 font-semibold"><%= WorkItem.human_attribute_name(:assigned_to_id) %></span>
    <div>
      <%= f.collection_select :assigned_to_id, @users, :id, :to_s, { include_blank: true }, class: "w-full form-select", data: { action: 'autodropdown#click' } %>
    </div>
    <%= f.submit class: 'hidden', data: { 'autodropdown-target': 'actionButton'} %>
  <%- end %>
</div>
<%- if @work_item.feature.present? %>
  <div class="py-5">
    <span class=" text-primary-900 font-semibold"><%= WorkItem.human_attribute_name(:feature_id) %></span>
    <div class="mt-1 text-sm">
      <%= @work_item.feature %>
    </div>
  </div>
<%- end %>
<%- if @work_item.done? && @work_item.work_item_data.present? %>
  <div class="py-5">
    <span class=" text-primary-900 font-semibold"><%= WorkItem.human_attribute_name(:cycle_time) %></span>
    <div class="mt-1 text-sm">
      <%= @work_item.work_item_data.cycle_time_hours %> hours
    </div>
    <div class="mt-1 text-sm">
      <%= @work_item.work_item_data.cycle_time_minutes %> minutes
    </div>
  </div>
<%- end %>
