<%= form_with model: [:app, @project, @work_item], html: { data: { turbo: false } } do |f| %>
  <div class="space-y-5">
    <div>
      <%= f.label :work_item_type, class: 'form-label' %>
      <div class="mt-3">
        <%= f.collection_select :work_item_type, WorkItem.enum_collection_for_select(:work_item_types), :first, :last, {}, class: 'form-select' %>
      </div>
    </div>
    <div>
      <%= f.label :work_item_status_id, class: 'form-label' %>
      <div class="mt-3">
        <%= f.collection_select :work_item_status_id, WorkItemStatus.all_for_collection_select, :first, :last, {}, class: 'form-select' %>
      </div>
    </div>
    <div>
      <%= f.label :title, class: 'sr-only'%>
      <%= f.text_field :title, class: "text-field text-field-title #{input_error_class(@work_item, :title)}", placeholder: true %>
      <%= render 'input_error_message', resource: @work_item, attribute: :title %>
    </div>
    <div>
      <%= f.label :description, class: 'form-label' %>
      <div class="mt-3">
        <%= f.rich_text_area :description %>
      </div>
    </div>
    <div>
      <%= f.label :assigned_to_id, class: 'form-label' %>
      <div class="mt-3">
        <%= f.collection_select :assigned_to_id, @users, :id, :to_s, { include_blank: true }, class: 'form-select' %>
      </div>
    </div>
    <%- if UNLEASH.enabled?('work_item_features') %>
    <div>
      <%= f.label :feature_id, class: 'form-label' %>
      <div class="mt-3">
        <%= f.collection_select :feature_id, @project.features, :id, :name, { include_blank: true }, class: 'form-select' %>
      </div>
    </div>
    <%- end %>
  </div>
  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to t('glob.cancel'), @work_item.persisted? ? app_project_work_item_path(@project, @work_item) : app_project_work_items_path(@project), class: 'btn' %>
      <%= f.submit class: 'btn-primary ml-3'%>
    </div>
  </div>
<%- end %>
