<div id="<%= dom_id(work_item) %>", class="bg-white text-gray-800" data-work-item-id="<%= work_item.id %>" data-update-url="<%= app_work_item_position_path(work_item) %>">
  <div class="border shadow-md md:hover:bg-gray-100 text-sm flex flex-wrap xspace-x-3 xspace-y-3">
    <%- if @draggable %>
      <div class="w-full md:w-fit py-2 <%= work_item_status_color(work_item.work_item_status.i18n_name) %>">
        <div class="handler w-1/2 md:w-full h-full px-2">
          <i class="fa-solid fa-grip md:hidden"></i>
          <i class="fa-solid fa-grip-vertical hidden md:block md:pt-14"></i>
        </div>
      </div>
    <%- else %>
      <div class="w-6">&nbsp;</div>
    <%- end %>
    <div class="w-full md:flex-1 p-5">
      <div class="h-fit md:h-16 mb-5 md:mb-0">
        <%= link_to work_item, app_project_work_item_path(@project, work_item), class: 'hover:underline text-gray-500' %>
      </div>
      <div class="flex flex-wrap justify-center gap-y-5 md:justify-end md:mt-4">
        <div class="text-xs text-gray-500 px-5 pt-1.5">
          <%= work_item.assigned_to %>
        </div>
        <div class="text-xs text-gray-500 px-5 pt-1.5">
          <%- if work_item.fridge? %>
            <%= l work_item.stashed_in_fridge_at, format: :long %>
          <%- else %>
            <%= l work_item.work_item_status_events.last.created_at, format: :long %>
          <%- end %>
        </div>
        <div class="px-5">
          <span class="badge <%= work_item_type_color(work_item.work_item_type) %>">
            <%= WorkItem.human_enum_name(:work_item_types, work_item.work_item_type) %>
          </span>
        </div>
        <div class="px-5">
          <span class="badge <%= work_item_status_color(work_item.work_item_status.i18n_name) %>">
            <%= work_item.work_item_status %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
