<%- if @project.work_items.any? %>
  <%= render 'work_item_list_with_navigation' do %>
    <%- if @work_items.any? %>
      <div class="">
        <%- if @work_items['review'] %>
          <div data-controller="work-item-list">
            <div data-work-item-list-target="dragContainer" class="space-y-2 px-3 mb-8">
              <%= render @work_items['review'] %>
            </div>
          </div>
        <%- end %>
        <%- if @work_items['in_progress'] %>
          <div data-controller="work-item-list">
            <div data-work-item-list-target="dragContainer" class="space-y-2 px-3 mb-8">
              <%= render @work_items['in_progress'] %>
            </div>
          </div>
        <%- end %>
      </div>
      <div class="my-10">
        <%- if @work_items['ready_for_dev'] %>
          <div data-controller="work-item-list">
            <div data-work-item-list-target="dragContainer" class="space-y-2 px-3 mb-8">
              <%= render @work_items['ready_for_dev'] %>
            </div>
          </div>
        <%- end %>
        <%- if @work_items['grooming'] %>
          <div data-controller="work-item-list">
            <div data-work-item-list-target="dragContainer" class="space-y-2 px-3 mb-8">
              <%= render @work_items['grooming'] %>
            </div>
          </div>
        <%- end %>
        <%- if @work_items['backlog'] %>
          <div data-controller="work-item-list">
            <div data-work-item-list-target="dragContainer" class="space-y-2 px-3 mb-8">
              <%= render @work_items['backlog'] %>
            </div>
          </div>
        </div>
      <%- end %>
    <%- else %>
      <%= render  'no_work_items' %>
    <%- end %>
  <%- end %>
<%- else %>
  <div class="h-full">
    <main class="h-full">
      <div class="mx-auto max-w-7xl h-full">
        <div class="bg-white h-full">
          <div class="text-center bg-white mx-auto border-x py-3">
            <%= link_to @project.name, app_project_path(@project), class: 'breadcrumb-link' %>
          </div>
          <div class="border min-h-full">
            <div class="p-5 bg-white">
              <div>
                <h1 class="text-primary-900 font-bold text-2xl text-center"><%= WorkItem.plural_name %></h1>
                <h2 class="text-center font-bold text-gray-500"><%= @project.identifier %></h2>
              </div>
            </div>
            <div class="flex h-full bg-white">
              <div class="w-full p-10">
                <%= render 'create_new_work_item_button' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
<%-end %>
