<div class="md:px-3 lg:px-1 xl:px-0 mx-auto max-w-7xl">
  <div class="text-center mx-auto border-t border-x  py-3 bg-white">
    <%= link_to @project.name, app_project_path(@project), class: 'breadcrumb-link' %>
    >
    <%= link_to WorkItem.plural_name, app_project_work_items_path(@project), class: 'breadcrumb-link' %>
  </div>
  <div class="bg-white border p-5 md:p-10">
    <h1 class="page-title"><%= t('glob.new_model', model: WorkItem.model_name.human) %></h1>
    <div class="mt-5" >
      <%= render 'form' %>
    </div>
  </div>
</div>
