<div class="h-full">
  <main class="h-full">
    <div class="mx-auto max-w-7xl md:px-3 lg:px-1 xl:px-0 h-full">
      <div class="text-center mx-auto border-x py-3 bg-white">
        <%= link_to @project.name, app_project_path(@project), class: 'breadcrumb-link' %>
        >
        <%= link_to WorkItem.plural_name, app_project_work_items_path(@project), class: 'breadcrumb-link' %>
      </div>
      <div class="bg-white border min-h-full md:rounded-t-xl">
        <div class="text-center p-2 <%= work_item_status_color(@work_item.work_item_status.i18n_name) %>">
          <%- if @work_item.done? %>
            <%= link_to @work_item.work_item_status, app_project_work_items_done_path(@project), class: 'underline underline-offset-4' %>
          <%- elsif @work_item.fridge? %>
            <%= link_to @work_item.work_item_status, app_project_work_items_fridge_path(@project), class: 'underline underline-offset-4' %>
          <%- elsif @work_item.withdrawn? %>
            <%= link_to @work_item.work_item_status, app_project_work_items_withdrawn_path(@project), class: 'underline underline-offset-4' %>
          <%- else %>
            <%= link_to @work_item.work_item_status, app_project_work_items_path(@project), class: 'underline underline-offset-4' %>
          <%- end %>
        </div>
        <div class="text-center p-2 <%= work_item_type_color(@work_item.work_item_type) %>">
          <%= WorkItem.human_enum_name(:work_item_types, @work_item.work_item_type) %>
        </div>
        <div class="md:flex">
          <div class="p-5 lg:p-10 md:flex-1" data-controller="work-items">
            <div>
              <h1 class="font-bold text-lg md:text-2xl text-primary-900"><%= @work_item %></h1>
            </div>
            <div>
              <div class="py-5">
                <div class="block">
                  <nav class="flex space-x-4" aria-label="Tabs">
                    <a data-action="work-items#showDescription:prevent" href="#" class="section-selector section-selector-selected rounded-md px-3 py-2 text-sm font-medium">Description</a>
                    <a data-action="work-items#showActions:prevent" href="#" class="section-selector section-selector-default rounded-md px-3 py-2 text-sm font-medium md:hidden">Actions</a>
                    <a data-action="work-items#showComments:prevent" href="#" class="section-selector section-selector-default rounded-md px-3 py-2 text-sm font-medium">Comments</a>
                  </nav>
                </div>
              </div>
              <div data-work-items-target="descriptionSection" class="block">
                <div class="text-sm"><%= @work_item.description %></div>
              </div>
              <div data-work-items-target="actionsSection" class="hidden">
                <%= render 'actions' %>
              </div>
            </div>
            <div data-work-items-target="commentsSection" class="hidden">
              <%= render 'comments' %>
            </div>
          </div>
          <div class="hidden md:block md:w-56 lg:w-72 lg:pl-10 md:px-5 lg:pr-10 lg:pt-5 md:border-l-2">
            <%= render 'actions' %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
