<%= form_with model: [:app, @project, @feature], html: { data: { turbo: false } } do |f| %>
  <div class="space-y-5">
    <div>
      <%= f.label :name, class: 'sr-only'%>
      <%= f.text_field :name, class: 'text-field text-field-title', placeholder: true %>
    </div>
    <div>
      <%= f.label :description, class: 'form-label' %>
      <div class="mt-3">
        <%= f.rich_text_area :description %>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to t('glob.cancel'), @feature.persisted? ? app_project_feature_path(@project, @feature) : app_project_features_path(@project), class: 'btn' %>
      <%= f.submit class: 'btn-primary ml-3'%>
    </div>
  </div>
<%- end %>
