<div class="h-full">
  <main class="h-full">
    <div class="mx-auto max-w-7xl md:px-3 lg:px-1 xl:px-0 h-full">
      <div class="text-center bg-white mx-auto border-x py-3">
        <%= link_to @project.name, app_project_path(@project), class: 'breadcrumb-link' %>
      </div>
      <div class="bg-white min-h-[80%] border ">
        <div class="flex p-5">
          <div class="w-44">
          </div>
          <div class="flex-1">
            <h1 class="text-center font-bold text-2xl "><%= Feature.plural_name %></h1>
          </div>
          <div class="w-44">
          </div>
        </div>
        <div class="text-center">
          <%= link_to t('glob.new_model', model: Feature.model_name.human), new_app_project_feature_path(@project), class: 'btn-primary' %>
        </div>
        <div class="mt-5 p-5 md:p-10 space-y-5">
          <%- @features.each do |feature| %>
            <div>
              <%= link_to app_project_feature_path(@project, feature) do %>
                <div class="border p-5 rounded shadow-md hover:bg-gray-50">
                  <%= feature %>
                  <div class="text-xs mt-3">
                    <%= feature.progress %>% -
                    <%= feature.work_items_done %> / <%= feature.work_items_total %>
                  </div>
                </div>
              <%- end %>
            </div>
          <%- end %>
        </div>
      </div>
    </div>
  </main>
</div>
