<div class="md:px-3 lg:px-1 xl:px-0 md:mt-5 mx-auto max-w-7xl">
  <div class="text-center md:w-3/4 mx-auto border-t border-x md:rounded-t-md py-3 bg-white text-primary font-semibold">
    <%= link_to @project.name, app_project_path(@project), class: 'underline underline-offset-4' %>
  </div>
  <div class="bg-white border md:rounded-lg md:shadow-md p-5 md:p-10">
    <h1 class="page-title"><%= t('glob.new_model', model: Feature.model_name.human) %></h1>
    <div class="mt-5" >
      <%= render 'form' %>
    </div>
  </div>
</div>
