<div class="h-full">
  <main class="h-full">
    <div class="mx-auto max-w-7xl md:px-3 lg:px-1 xl:px-0 h-full">
      <div class="text-center mx-auto border-x py-3 bg-white">
        <%= link_to @project.name, app_project_path(@project), class: 'breadcrumb-link' %>
        >
        <%= link_to Feature.plural_name, app_project_features_path(@project), class: 'breadcrumb-link' %>
      </div>
      <div class="bg-white border min-h-[80%]">
        <div class="p-5 lg:p-10">
          <div class="md:flex">
            <div class="md:flex-1">
              <h1 class="font-bold text-2xl text-primary-900 text-center md:text-left"><%= @feature %></h1>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="flex-1">
            <div id="work-item-list" class="space-y-2 px-3 mb-8">
              <%= render partial: 'app/work_items/work_item', collection: @work_items %>
            </div>
          </div>
          <div class="w-80 px-3 space-y-5">
            <div class="text-center mt-3 md:mt-0">
              <%= link_to t('glob.edit_model', model: Feature.model_name.human), edit_app_project_feature_path(@project, @feature), class: 'btn w-full' %>
            </div>
            <div>
              <span class=" text-primary-900 font-semibold"><%= Feature.human_attribute_name(:work_items_done) %></span>
              <div class="mt-1 text-sm"><%= @feature.work_items_done %> / <%= @feature.work_items_total %></div>
            </div>
            <div>
              <span class=" text-primary-900 font-semibold"><%= Feature.human_attribute_name(:progress) %></span>
              <div class="mt-1 text-sm"><%= @feature.progress %>%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
