<%= turbo_frame_tag :comments do %>
  <hr/>
  <div class="mt-3 lg:mt-10">
    <div data-controller="comment-form">
      <div class="hidden lg:w-3/4 lg:mx-auto" data-comment-form-target="commentFormContainer">
        <%= form_for [:app, @work_item, Comment.new], html: { data: { 'comment-form-target': 'commentForm' } } do |f| %>
          <div>
            <%= f.text_area :message, class: 'text-field text-sm', rows: 5 %>
          </div>
          <div class="py-5">
            <div class="flex justify-end">
              <%= link_to t('glob.cancel'), '#', class: 'btn', data: { action: 'comment-form#cancelComment:prevent' } %>
              <%= f.submit class: 'btn-primary ml-3' %>
            </div>
          </div>
        <%- end %>
      </div>
      <div class="text-right lg:text-left" data-comment-form-target="newButtonContainer">
        <%= link_to t('glob.new_model', model: Comment.model_name.human), '#', class: 'btn-primary lg:w-fit w-full', data: { action: 'comment-form#showForm:prevent' } %>
      </div>
    </div>
    <div id="comment_list", class="mt-5">
      <%= render partial: 'comment', collection: @work_item.comments %>
    </div>
  </div>
<%- end %>
