<%= turbo_frame_tag :new_comment do |f| %>
  <div>
    <%= form_for [:app, @work_item, @comment] do |f| %>
      <div>
        <%= f.text_area :message, class: 'text-field', rows: 5 %>
      </div>
      <div class="py-5">
        <div class="flex justify-end">
          <%= link_to t('glob.cancel'), app_project_work_item_path(@work_item.project, @work_item), class: 'btn' %>
          <%= f.submit class: 'btn-primary ml-3' %>
        </div>
      </div>
    <%- end %>
  </div>
<%- end %>
