<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-primary-900">
      <%= t('devise.invitations.edit.header') %>
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, data: { turbo: false }}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :invitation_token, readonly: true %>
        <div class="space-y-6">
          <%= f.fields_for :profile, resource.build_profile do |ff| %>
            <div>
              <%= ff.label :first_name, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= ff.text_field :first_name, autofocus: true, autocomplete: :first_name, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm", required: true %>
              </div>
            </div>
            <div>
              <%= ff.label :last_name, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= ff.text_field :last_name, autofocus: true, autocomplete: :last_name, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm", required: true %>
              </div>
            </div>
            <div>
              <%= ff.label :time_zone, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= ff.time_zone_select :time_zone, nil, { default: 'Central Time (US & Canada)' }, class: "w-full form-select" %>
              </div>
            </div>
          <%-end %>
          <div>
            <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.password_field :password, autofocus: true, autocomplete: :password, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm", required: true %>
            </div>
          </div>
          <div>
            <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.password_field :password_confirmation, autofocus: true, autocomplete: :password, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm", required: true %>
            </div>
          </div>
          <div>
            <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-primary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">
              <%= t('devise.invitations.edit.submit_button') %>
            </button>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</div>
