<%= form_with model: [:app, @user] do |f| %>
  <div>
    <div>
      <%= f.label :email, class: 'form-label' %>
      <div class="mt-1">
        <%= f.email_field :email, class: "text-field #{input_error_class(@user, :email)}" %>
      </div>
      <%= render 'input_error_message', resource: @user, attribute: :email %>
    </div>
    <div class="py-5">
      <div class="flex justify-end">
        <%= link_to t('glob.cancel'), app_users_path, class: 'btn' %>
        <%= f.submit class: 'btn-primary ml-3'%>
      </div>
    </div>
  </div>
<%- end %>
