
<div class="border p-5 rounded shadow-md text-primary-700">
  <div class="font-bold"><%= user.profile %></div>
  <div class="text-sm text-gray-500"><%= user.email %></div>
  <%- if user.invited_to_sign_up? && !user.invitation_accepted? %>
    <%= button_to 'Resend', app_users_path, params: { user: { email: user.email } } %>
  <%- end %>
</div>
