<div class="h-full">
  <main class="h-full">
    <div class="mx-auto max-w-7xl md:px-3 lg:px-1 xl:px-0 md:mt-5 h-full">
      <div class="bg-white border min-h-full md:rounded-t-xl">
        <div>
          <div class="md:flex p-5">
            <div class="md:w-44">
            </div>
            <div class="md:flex-1">
              <h1 class="text-center font-bold text-2xl md:rounded-t-xl text-primary"><%= t('glob.team') %></h1>
            </div>
            <div class="md:w-44 mt-5 md:mt-0">
              <%- if policy(User).new? %>
                <%= link_to t('.invite'), new_app_user_path, class: 'btn-primary w-full md:w-fit' %>
              <%- end %>
            </div>
          </div>
        </div>
        <div class="lg:px-10 my-5">
          <div class="space-y-5 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-10 gap-y-10">
            <%= render @users %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
