<div class="mt-10 max-w-xl mx-auto">
  <div class="border bg-white rounded-lg shadow-sm p-10">
    <h1 class="page-title"><%= t('glob.new_model', model: User.model_name.human) %></h1>
    <div class="mt-5" >
      <%= render 'form' %>
    </div>
  </div>
