@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center rounded-md border border-transparent bg-primary-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }

  .btn-xl {
    @apply inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base font-medium text-gray-500 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }

  .page-title {
    @apply text-3xl font-bold leading-tight tracking-tight text-primary-900;
  }

  .text-field {
    @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm;
  }

  .text-field-title {
    @apply text-base md:text-xl text-gray-500 md:font-bold;
  }

  .text-field::placeholder {
    @apply text-gray-300;
  }

  .form-label {
    @apply block text-sm font-medium leading-6 text-gray-900;
  }

  .form-select {
    @apply mt-2 block rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-primary-600 text-sm leading-6;
  }

  .badge {
    @apply inline-flex items-center rounded-full bg-gray-100 px-5 py-1 text-xs font-medium text-gray-800;
  }

  .work-item-ghost {
    @apply bg-white-rock-500 ml-5
  }

  .work-item-drag {
    @apply bg-white-rock-500
  }

  .breadcrumb-link {
    @apply font-semibold text-primary underline underline-offset-4 text-sm lg:text-base;
  }

  .section-selector-default {
    @apply text-gray-500 hover:text-gray-700
  }

  .section-selector-default {
    @apply text-gray-500 hover:text-gray-700
  }

  .section-selector-selected {
    @apply bg-indigo-100 text-indigo-700
  }

  .tab-current {
    @apply bg-primary-200 text-primary-700;
  }

  .tab-default {
    @apply text-gray-500 hover:text-gray-700;
  }

}

@import 'actiontext.css';
