<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&family=Golos+Text" rel="stylesheet">
<script src="https://kit.fontawesome.com/6717a7e8bc.js" crossorigin="anonymous"></script>
