<%= form_with model: [:app, @account] do |f| %>
  <div>
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, placeholder:true, class: "text-field text-field-title #{input_error_class(f.object, :name)}" %>
    <%= render 'input_error_message', resource: f.object, attribute: :name %>
  <div>
  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to t('glob.cancel'), @account.persisted? ? app_account_path(@account) : app_accounts_path, class: 'btn' %>
      <%= f.submit class: 'btn-primary ml-3' %>
    </div>
  </div>
<%- end %>
