<div class="text-center pt-20">
  <div>
    <h1 class="page-title"><%= t('.page_title') %></h1>
  </div>
  <div class="w-1/2 mx-auto ">
    <div class="flex justify-center flex-wrap gap-x-5 mt-10 gap-y-5">
      <%= render @accounts %>
      <%= link_to t('glob.new_model', model: Account.model_name.human), new_app_account_path, class: 'btn-primary h-32 w-60' %>
    </div>
  </div>
</div>
