<div class="py-10">
  <main>
    <div class="text-center">
      <h1 class="text-2xl text-primary font-bold pb-10"><%= @account.name %></h1>
      <%= link_to t('glob.new_model', model: Project.model_name.human), new_app_project_path, class: 'btn-primary' %>
      <%= link_to t('glob.edit_account_name'), edit_app_account_path(@account), class: 'btn' %>
    </div>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 mt-10">
      <div class="flex flex-wrap justify-center gap-y-10">
        <%= render @projects %>
      </div>
    </div>
  </main>
</div>
