<!DOCTYPE html>
<html class="h-full bg-two-400">
  <head>
    <title>Flow : <%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'font_headers' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full">
    <div class="h-full">
      <%= render 'navbar' %>
      <%= yield %>
      <%= render 'notices' %>
    </div>
  </body>
</html>
